In [52]:
#pip install pandas
#pip install numpy
#pip install scipy
import pandas as pd
import numpy as np
pd_df = pd.read_csv('Data/car_data.csv')

In [91]:
pd_df.loc[[47,71]]

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
47,48,jaguar,gas,std,four,sedan,rwd,front,113.0,199.6,...,dohc,six,258,mpfi,8.1,176,4750,15,19,32250
71,72,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,202.6,...,ohcv,eight,234,mpfi,8.3,155,4750,16,18,34184

# Create Dataframes
We will be creating two sets of pandas dataframes. One dataframe is for entity name and its ID. The other dataframe is for the attributes. After the attribute values converted to 0s and 1s, these two dataframes will be merged into one dataframe.

### First Dataframe (pd_df0)
pd_df0 is a dataframe for entity name and it id. It will extract all rows for column 0 and 2 from loaded CSV file.

In [54]:
pd_df0 = pd_df.iloc[:, [0]]
pd_df0

     Unnamed: 0
0             1
1             2
2             3
3             4
4             5
..          ...
200         201
201         202
202         203
203         204
204         205

[205 rows x 1 columns]

### Second Dataframe (pd_df1)
pd_df1 will contain the attributes, it will extract the column 3, 4, 5, 6, 7 and 8.

In [55]:
pd_df1 = pd_df.iloc[:, [2,3, 4, 5, 6, 7, 8]]
pd_df1

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base
0,gas,std,two,convertible,rwd,front,88.6
1,gas,std,two,convertible,rwd,front,88.6
2,gas,std,two,hatchback,rwd,front,94.5
3,gas,std,four,sedan,fwd,front,99.8
4,gas,std,four,sedan,4wd,front,99.4
...,...,...,...,...,...,...,...
200,gas,std,four,sedan,rwd,front,109.1
201,gas,turbo,four,sedan,rwd,front,109.1
202,gas,std,four,sedan,rwd,front,109.1
203,diesel,turbo,four,sedan,rwd,front,109.1
204,gas,turbo,four,sedan,rwd,front,109.1

Once these are extracted, now we will use pd.get_dummies(pd_df1) to convert the attribute values to 0s and 1s.

In [56]:
pd_df1 = pd.get_dummies(pd_df1)
pd_df1

,wheel_base,fuel_type_diesel,fuel_type_gas,aspiration_std,aspiration_turbo,num_of_doors_?,num_of_doors_four,num_of_doors_two,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd,engine_location_front,engine_location_rear
0,88.6,False,True,True,False,False,False,True,True,False,False,False,False,False,False,True,True,False
1,88.6,False,True,True,False,False,False,True,True,False,False,False,False,False,False,True,True,False
2,94.5,False,True,True,False,False,False,True,False,False,True,False,False,False,False,True,True,False
3,99.8,False,True,True,False,False,True,False,False,False,False,True,False,False,True,False,True,False
4,99.4,False,True,True,False,False,True,False,False,False,False,True,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,109.1,False,True,True,False,False,True,False,False,False,False,True,False,False,False,True,True,False
201,109.1,False,True,False,True,False,True,False,False,False,False,True,False,False,False,True,True,False
202,109.1,False,True,True,False,False,True,False,False,False,False,True,False,False,False,True,True,False
203,109.1,True,False,False,True,False,True,False,False,False,False,True,False,False,False,True,True,False
204,109.1,False,True,False,True,False,True,False,False,False,False,True,False,False,False,True,True,False

## Merged Dataframe (pd_df2)
Now the two dataframes will be merge into one dataframe using pd.concat().

In [57]:
pd_df2 = pd.concat([pd_df0, pd_df1], axis=1, sort=False)
pd_df2

,Unnamed: 0,wheel_base,fuel_type_diesel,fuel_type_gas,aspiration_std,aspiration_turbo,num_of_doors_?,num_of_doors_four,num_of_doors_two,body_style_convertible,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd,engine_location_front,engine_location_rear
0,1,88.6,False,True,True,False,False,False,True,True,False,False,False,False,False,False,True,True,False
1,2,88.6,False,True,True,False,False,False,True,True,False,False,False,False,False,False,True,True,False
2,3,94.5,False,True,True,False,False,False,True,False,False,True,False,False,False,False,True,True,False
3,4,99.8,False,True,True,False,False,True,False,False,False,False,True,False,False,True,False,True,False
4,5,99.4,False,True,True,False,False,True,False,False,False,False,True,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,109.1,False,True,True,False,False,True,False,False,False,False,True,False,False,False,True,True,False
201,202,109.1,False,True,False,True,False,True,False,False,False,False,True,False,False,False,True,True,False
202,203,109.1,False,True,True,False,False,True,False,False,False,False,True,False,False,False,True,True,False
203,204,109.1,True,False,False,True,False,True,False,False,False,False,True,False,False,False,True,True,False
204,205,109.1,False,True,False,True,False,True,False,False,False,False,True,False,False,False,True,True,False

## Convert dataframe to Array
After we have the data we want to work on, the dataframe needs to be converted to an array format.

In [58]:
df_array = pd_df2.to_numpy()
df_array

array([[1, 88.6, False, ..., True, True, False],
       [2, 88.6, False, ..., True, True, False],
       [3, 94.5, False, ..., True, True, False],
       ...,
       [203, 109.1, False, ..., True, True, False],
       [204, 109.1, True, ..., True, True, False],
       [205, 109.1, False, ..., True, True, False]], dtype=object)

## Convert Array to set of Dictionary
The converted array now needed to be converted to form of dictionary.

In [59]:
carDict = {}

for d in df_array:
    carID = int(d[0])
    name = d[1]
    attributes = d[2:]
    attributes = map(int, attributes)
    carDict[carID] = (name, np.array(list(attributes)))

At this point, we have the object in the form we can work for applying the KNN Algorithm.

## Applying KNN Algorithm
At this point, we can leverage the KNN algorithm we used in Python Machine Learning Example (KNN).

#### Prepare the getNeighors() and ComputeDistance()
getNeighbors()

In [60]:
def getNeighbors(carID, K):

    distances = []
    for car in carDict:
        if (car != carID):
            dist = ComputeDistance(carDict[carID], carDict[car])
            distances.append((car, dist))
    distances.sort(key=operator.itemgetter(1))

    neighbors = []
    for x in range(K):
        neighbors.append((distances[x][0], distances[x][1]))
    return neighbors

## ComputeDistance()

In [61]:
def ComputeDistance(a, b):
    dataA = a[1]
    dataB = b[1]

    AttributeDistance = spatial.distance.cosine(dataA, dataB)

    return AttributeDistance

## Comparison
Now, let’s take a look how the selected entity compares with the similar entities selected by the KNN algorithm.

Let’s say we use the entity ID 5. It has the following attributes.

In [93]:
import operator
import pandas as pd
import numpy as np
from scipy import spatial

def ComputeDistance(a, b):
    dataA = a[1]
    dataB = b[1]

    AttributeDistance = spatial.distance.cosine(dataA, dataB)

    return AttributeDistance

def getNeighbors(carID, K):

    distances = []
    for car in carDict:
        if (car != carID):
            dist = ComputeDistance(carDict[carID], carDict[car])
            distances.append((car, dist))
    distances.sort(key=operator.itemgetter(1))

    neighbors = []
    for x in range(K):
        neighbors.append((distances[x][0], distances[x][1]))

    return neighbors

# load dataset CSV file
pd_df = pd.read_csv('Data/car_data.csv')

# dataframe for entity name and ID
pd_df0 = pd_df.iloc[:, [0,2]]

# dataframe for attributes
pd_df1 = pd_df.iloc[:, [3, 4, 5, 6, 7, 8]]

# convert to 0s and 1s based on the attribute values
pd_df1 = pd.get_dummies(pd_df1)

# merge pd_df0 and pd_df1 dataframes
pd_df2 = pd.concat([pd_df0, pd_df1], axis=1, sort=False)

df_array = pd_df2.to_numpy()


carDict = {}

for d in df_array:
    carID = int(d[0])
    name = d[1]
    attributes = d[2:]
    attributes = map(int, attributes)
    carDict[carID] = (name, np.array(list(attributes)))

K = 10
selectedID = 72

print("selected car:", carDict[selectedID][0])

neighbors = getNeighbors(selectedID, K)

for neighbor in neighbors:
    ##print(str(neighbor[0]) + " | " + carDict[neighbor[0]][0] + " | " + str(neighbor[1]))
    print(str(neighbor[0]) + " | "+ str(carDict[neighbor[0]][0])  + " | " + str(neighbor[1]))

selected car: 115.6
12 | 101.2 | 0
14 | 101.2 | 0
15 | 103.5 | 0
16 | 103.5 | 0
18 | 110.0 | 0
44 | 94.3 | 0
48 | 113.0 | 0
49 | 113.0 | 0
66 | 104.9 | 0
74 | 120.9 | 0

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score

# Load the dataset
data = pd.read_csv("car_data.csv")

# Clean up column names
data.columns = data.columns.str.strip()  # Remove leading/trailing whitespaces

# Explore the dataset
print(data.head())

# Preprocessing the data
X = data.drop('make', axis=1)  # Dropping 'make' as it's not useful for classification
y = data['make']  # Predicting car make

# Encoding categorical variables
label_encoder = LabelEncoder()
X_encoded = X.apply(label_encoder.fit_transform)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Fitting the KNN model
k = 5  # You can choose any value for k
knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train_scaled, y_train)

# Predictions
y_pred = knn.predict(X_test_scaled)

# Evaluating the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

   Unnamed: 0         make fuel_type aspiration num_of_doors   body_style  \
0           1  alfa-romero       gas        std          two  convertible
1           2  alfa-romero       gas        std          two  convertible
2           3  alfa-romero       gas        std          two    hatchback
3           4         audi       gas        std         four        sedan
4           5         audi       gas        std         four        sedan

  drive_wheels engine_location  wheel_base  length  ...  engine_type  \
0          rwd           front        88.6   168.8  ...         dohc
1          rwd           front        88.6   168.8  ...         dohc
2          rwd           front        94.5   171.2  ...         ohcv
3          fwd           front        99.8   176.6  ...          ohc
4          4wd           front        99.4   176.6  ...          ohc

   num_of_cylinders  engine_size fuel_system compression_ratio  horsepower  \
0              four          130        mpfi               9.0         111
1              four          130        mpfi               9.0         111
2               six          152        mpfi               9.0         154
3              four          109        mpfi              10.0         102
4              five          136        mpfi               8.0         115

  peak_rpm  city_mpg highway_mpg  price
0     5000        21          27  13495
1     5000        21          27  16500
2     5000        19          26  16500
3     5500        24          30  13950
4     5500        18          22  17450

[5 rows x 23 columns]
Accuracy: 0.5365853658536586
               precision    recall  f1-score   support

         audi       0.50      1.00      0.67         1
          bmw       0.67      1.00      0.80         2
    chevrolet       0.50      1.00      0.67         1
        dodge       0.17      1.00      0.29         1
        honda       0.00      0.00      0.00         1
        isuzu       0.00      0.00      0.00         1
        mazda       0.33      0.33      0.33         3
mercedes-benz       0.00      0.00      0.00         4
   mitsubishi       0.67      0.50      0.57         4
       nissan       1.00      0.40      0.57         5
       peugot       0.00      0.00      0.00         0
     plymouth       0.00      0.00      0.00         1
         saab       0.50      1.00      0.67         1
       subaru       0.67      0.50      0.57         4
       toyota       0.83      0.71      0.77         7
   volkswagen       0.50      0.50      0.50         2
        volvo       1.00      1.00      1.00         3

     accuracy                           0.54        41
    macro avg       0.43      0.53      0.44        41
 weighted avg       0.59      0.54      0.53        41

C:\Users\lenovo\anaconda3\Lib\site-packages\joblib\externals\loky\backend\context.py:110: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "C:\Users\lenovo\anaconda3\Lib\site-packages\joblib\externals\loky\backend\context.py", line 199, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "C:\Users\lenovo\anaconda3\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\lenovo\anaconda3\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "C:\Users\lenovo\anaconda3\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
C:\Users\lenovo\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\lenovo\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\lenovo\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\lenovo\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\lenovo\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\lenovo\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))